<%= form_for @task do |f| %>
  <div class="fiel">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
  </div>
  <div class="field">
  <%= f.label :details %><br>
  <%= f.text_field :details %>
  <div class="field">
    <%= f.check_box :completed %>
    <%= f.label :completed %>
  </div>
  </div>
  <div class="action">
  <%= f.submit %>
  </div>
<% end %>
